-# - binding.pry
.user__new
  = render 'header'

  .account
    .account__number
      %h3 会員情報入力
    .account__input
      .account__input__form

        = form_for(@user, url: user_registration_path) do |f| 
          -# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .field
            .field__label
              ニックネーム
              %span.field__label__require
                必須
            .field__input
              =f.text_field :nickname, placeholder: "例)メルカリ太郎", class: "field__input__defalut"

          .field
            .field__label
              メールアドレス
              %span.field__label__require
                必須
            .field__input 
              =f.email_field :email, placeholder: "PC・携帯どちらでも可",class: "field__input__defalut"

          .field
            .field__label
              パスワード
              %span.field__label__require
                必須
            .field__input 
              = f.password_field :password, placeholder: "7文字以上の半角英数字", class: "field__input__defalut"

          .field
            .field__label
              パスワード　(確認のため再入力)
              %span.field__label__require
                必須
            .field__input 
              = f.password_field :password_confirmation,  placeholder: "7文字以上の半角英数字", class: "field__input__defalut"

          .input__confirmation
            ※ 英字と数字の両方を含めて設定してください

          .field__checkbox
            = check_box_tag :test1
            = label_tag :test1, "パスワードを表示する"
            
          .person__confirmation
            %h3 本人確認
            %P
              安心・安全にご利用いただくために、お客さまの本人
              情報の登録にご協力ください。他のお客さまに公開
              されることはありません。

          = f.fields_for :person_info do |i|
            .field
              .field__label
                お名前(全角)
                %span.field__label__require
                  必須
              .field__input 
                = i.text_field :family_name, placeholder: "例)山田", class: "field__input__ecality"
                = i.text_field :first_name,  placeholder: "例)彩",  class: "field__input__ecality"
            
            .field
              .field__label
                お名前かな(全角)
                %span.field__label__require
                  必須
              .field__input 
                = i.text_field :family_kana, placeholder: "例)ヤマダ", class: "field__input__ecality"
                = i.text_field :first_kana,  placeholder: "例)アヤ",  class: "field__input__ecality"
              
            .field
              .field__label
                生年月日
                %span.field__label__require
                  必須
              .field__input 
                = i.date_select :birth_date, {use_month_numbers: true, start_year: 1900, end_year: (Time.now.year), prompt: "--", with_css_classes: "field__input__year", date_separator:'%s'}
                /= f.date_select :birth_date, use_month_numbers: true,　start_year: 1900, end_year: (Time.now.year), default: Date.new(--, --, --)
                -# = f.date_select :birth_date, use_month_numbers: true,  start_year: 1930, end_year: (Time.now.year), default: Date.new(1111, 1, 1)
                -# = f.date_select :person_info, (:birth_date, prompt: "--")
                -# {start_year: Time.now.year, end_year: "1900", prompt: "--"}
                -# != sprintf(f.date_select(:birth_date, prefix:'birth_date',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
                  -# = f.date_select (
                  -#   :birth_date,
                
                  
                  -# {name: "year",class: "field__input__year"}
                  -#   %option{value: "--"}-- 
                  -#   %option{value: "1900"}1900
                  -#   %option{value: "2020"}2020
                  -# 年
                  -# %select{name: "mouth",class: "field__input__year"}
                  -#   %option{value: "--"}--
                  -#   %option{value: "1"}1
                  -#   %option{value: "12"}12
                  -# 月
                  -# %select{name: "day",class: "field__input__year"}
                  -#   %option{value: "--"}--
                  -#   %option{value: "1"}1
                  -#   %option{value: "31"}31
                  -# 日
          
          .person__confirmation
            %h3 商品送付先住所情報

          = f.fields_for :address do |i|
            .field
              .field__label
                送付先氏名
                %span.field__label__require
                  必須
              .field__input 
                = i.text_field :family_name, placeholder: "例)山田", class: "field__input__ecality"
                = i.text_field :first_name,  placeholder: "例)彩",  class: "field__input__ecality"
              
            .field
              .field__label
                送付先氏名かな(全角)
                %span.field__label__require
                  必須
              .field__input 
                = i.text_field :family_kana, placeholder: "例)ヤマダ", class: "field__input__ecality"
                = i.text_field :first_kana,  placeholder: "例)アヤ",  class: "field__input__ecality"

            .field
              .field__label
                郵便番号
                %span.field__label__require
                  必須
              .field__input 
                = i.text_field :zipcode ,placeholder: "例)123-4567", class: "field__input__defalut"

            .field
              .field__label
                都道府県
                %span.field__label__require
                  必須
              .field__input 
                = i.select :prefecture_id, Prefecture.all.map { |pre| [pre.name, pre.id] },{}, class: "field__input__prefecture"

            .field
              .field__label
                市区町村
                %span.field__label__require
                  必須
              .field__input 
                = i.text_field :city, placeholder: "例)横浜市緑区", class: "field__input__defalut"


            .field
              .field__label
                番地
                %span.field__label__require
                  必須
              .field__input 
                = i.text_field :street, placeholder: "例)青山1-1-1", class: "field__input__defalut"
              
            .field
              .field__label
                建物名
                %span.field__label__any
                  任意
              .field__input 
                = i.text_field :apartment, placeholder: "例)柳ビル103", class: "field__input__defalut"

            .field
              .field__label
                お届け先の電話番号
                %span.field__label__any
                  任意
              .field__input 
                %input{type: "text", placeholder: "例)09012345678", class: "field__input__defalut"}


          .input__confirmation
            ※ 本人情報は正しく入力してください。会員登録後、
            修正するにはお時間を頂く場合があります。

          .input__terms
            「次へ進む」のボタンを押すことにより、
            = link_to " 利用規約", "#"
            に同意したものとみなします
          
          .submit
            %input{type: "submit", value: "登録", class: "submit__btn"}
          
          .person__register
            = link_to "本人情報の登録について>", "#"

          .person__dailog
            This site is protected by reCAPTCHA and the Google
            = link_to "Privacy", "#"
            = link_to "Policy", "#"
            and 
            =link_to " Terms of Service", "#"
            apply.

  .footer