.user__show 
  .header
    = render "items/header"
    - breadcrumb :logout
    = breadcrumbs separator: "&rsaquo; "

  .user__mypage
    = render "user__left"

    .user__right
      .submit__erea
        = button_to "ログアウト", destroy_user_session_path, method: :delete, class: "submit__erea__btn"

  .applink
    = render "items/applink"

  .top__footer
    = render "items/footer"