.user__show 
  .header
    .header__heading
      %h1.header__heading__icon
        = link_to image_tag("itemsimage/logo.png", width: '140'),"/" 
      .header__heading__searchbox
        .from
          ※(追加実装項目)カテゴリーから探す※
        .submit
          .submit__icon
            = image_tag "itemsimage/icon-search 1.png", size: "20x20"
      
    .header__navbar
      %ul.navbar__left
        %li.navbar__left__categories
          = link_to "カテゴリー", "#",  id: 'catebtn'
          .categories__lists
            %ul.categories__list
              %li.categories__list__pearent
        %li.navbar__left__brands
          = link_to "ブランド", "#", id: 'brandbtn'
          %ul.brands__list
      %ul.navbar__right
        %li.login
          = link_to "ログイン", "#"
        %li.newmemmber
          = link_to "新規会員登録", "#"

  .user__mypage
    .user__left
      %ul.user_boxes
        %li.user_box
          = link_to  user_path(current_user), class: "user_box__text" do
            マイページ
            %i{class: "fas fa-chevron-right user_box__icon"} 
        %li.user_box
          = link_to "#", class: "user_box__text" do
            お知らせ
            %i{class: "fas fa-chevron-right user_box__icon"}
        %li.user_box
          = link_to "#", class: "user_box__text" do
            やることリスト
            %i{class: "fas fa-chevron-right user_box__icon"}
        %li.user_box
          = link_to "#", class: "user_box__text" do
            "いいね!一覧", 
            %i{class: "fas fa-chevron-right user_box__icon"}
        %li.user_box
          = link_to  "#", class: "user_box__text" do
            出品する
            %i{class: "fas fa-chevron-right user_box__icon"}
        %li.user_box
          = link_to  "#", class: "user_box__text" do
            出品した商品.出品中
            %i{class: "fas fa-chevron-right user_box__icon"}
        %li.user_box
          = link_to  "#", class: "user_box__text" do
            出品した商品.取引中
            %i{class: "fas fa-chevron-right user_box__icon"}
        %li.user_box
          = link_to "#", class: "user_box__text" do
            出品した商品.売却済み
            %i{class: "fas fa-chevron-right user_box__icon"}
        %li.user_box
          = link_to  "#", class: "user_box__text" do
            購入した商品.取引中
            %i{class: "fas fa-chevron-right user_box__icon"}
        %li.user_box
          = link_to "#", class: "user_box__text" do
            購入した商品.過去の取引
            %i{class: "fas fa-chevron-right user_box__icon"}

      .setting
        設定
      %ul.user_boxes
        %li.user_box
          = link_to  "#", class: "user_box__text"  do
            プロフィール
            %i{class: "fas fa-chevron-right user_box__icon"}
        %li.user_box
          = link_to "#", class: "user_box__text" do
            商品送付先住所変更
            %i{class: "fas fa-chevron-right user_box__icon"}
        %li.user_box 
          = link_to  new_user_card_path(current_user), class: "user_box__text" do
            支払方法
            %i{class: "fas fa-chevron-right user_box__icon"}
        %li.user_box
          = link_to  "#", class: "user_box__text" do
            メール/パスワード
            %i{class: "fas fa-chevron-right user_box__icon"}
        %li.user_box
          = link_to  "#", class: "user_box__text" do
            本人情報
            %i{class: "fas fa-chevron-right user_box__icon"}
        %li.user_box
          = link_to destroy_user_session_path(current_user), method: :DELETE, class: "user_box__text" do
            ログアウト
            %i{class: "fas fa-chevron-right user_box__icon"}


    .user__right
      .user__content
        .user__image
          = image_tag("itemsimage/member_photo_noimage.png", size: "80")
          .user__image__name
            = @user.nickname
          .user__image__count
            .user__image__count__evaluation
              評価  
              %span 0
            .user__image__count__exhibit
              出品数
              %span 0
        .user__message
          .user__message__block
            .user__message__block__title1
              お知らせ
            .user__message__block__title2
              やることリスト

          .user__message__content
            %ul
              %li.user__message__notice
                = link_to "" "#"  do
                  .user__message__notice__tag
                    = image_tag("itemsimage/logo.png", width: "80%")
                  .user__message__notice__text
                    会員登録ありがとうございました
                  .user__message__notice__icon
                    %i{class: "fas fa-chevron-right user_box__icon"}
              %li.user__message__notice
                = link_to "" "#" do
                  .user__message__notice__tag
                    = image_tag("itemsimage/logo.png", width: "80%")
                  .user__message__notice__text
                    最大500ポイントもらえる
                  .user__message__notice__icon
                    %i{class: "fas fa-chevron-right user_box__icon"}
                
          .user__message__list
            %ul
              %li.user__message__notice
                = link_to "" "#" do
                  .user__message__notice__tag
                    = image_tag("itemsimage/logo.png", width: "80%")
                  .user__message__notice__text
                    発表
                  .user__message__notice__icon
                    %i{class: "fas fa-chevron-right user_box__icon"}
              %li.user__message__notice
                = link_to "" "#" do
                  .user__message__notice__tag
                    = image_tag("itemsimage/logo.png", width: "80%")
                  .user__message__notice__text
                    いろいろ
                  .user__message__notice__icon
                    %i{class: "fas fa-chevron-right user_box__icon"}

          .user__message__look
            .user__message__look__btn
              一覧をみる

      .user__product
        .user__product__purchase
          購入した商品
        .user__product__trading
          .user__product__trading__block1
            取引中
          .user__product__trading__block2
            過去の取引
        .user__product__item
          .user__product__item__tag
            = image_tag("itemsimage/logo.png", width: '140')
          .user__product__item__text
            取引中の商品はありません
        .user__product__past
          .user__product__past__tag
            = image_tag("itemsimage/logo.png", width: '140')
          .user__product__past__text
            過去に取引きした商品はありません


  .applink
    .applink__inner
      .applink__inner__title
        だれでもかんたん、人生を変えるフリマアプリ
      .applink__inner__text
        今すぐ無料ダウンロード！
      .applink__inner__link
        = link_to image_tag("itemsimage/appstoer.png", size: "180x53", class: 'link__btn'),"#"
        = link_to image_tag("itemsimage/googleplay.png", size: "180x53", class: 'link__btn'),"#"

  .footer
    %ul.contents
      %li.content
        %h2.content__head FURIMAについて
        %ul
          %li
            = link_to "会社概要(運営会社)", "#"
          %li
            = link_to "プライバシーポリシー", "#"
          %li
            = link_to "FURIMA利用規約", "#"
          %li
            = link_to "ポイントに関する特約", "#"
      %li.content
        %h2.content__head FURIMAを見る
        %ul
          %li
            = link_to "カテゴリー一覧", "#"
          %li
            = link_to "ブランド一覧", "#"
      %li.content
        %h2.content__head ヘルプ＆ガイド
        %ul
          %li
            = link_to "FURIMAガイド", "#"
          %li
            = link_to "FURIMAロゴ利用ガイドライン", "#"
          %li
            = link_to "お知らせ", "#"
    .footer__logo
      = link_to image_tag("itemsimage/logo-white.png", size: "160x46", class: 'link__btn'),"/"
    %p ©︎ FURIMA

  = link_to "#" do
    .purchasebtn
      %span.purchasebtn__text
        出品する
      = image_tag "itemsimage/icon_camera.png", width: '54', class: 'purchasebtn__icon'