.user__new
  .header
    = render "header"
  
  .account
    .account__login
      %p アカウントをお持ちでない方はこちら
      %br
      = link_to "新規会員登録",  new_user_registration_path, class: "account__login__new"
    .account__input
      .account__input__form
        = form_for(@user, url: user_session_path) do |f|

          .field
            .field__input 
              =f.email_field :email, placeholder: "メールアドレス", class: "field__input__defalut",data: {name: "メールアドレス"}

          .field
            .field__input 
              = f.password_field :password, placeholder: "パスワード", class: "field__input__defalut", data: {name: "パスワード"}

          .submit
            = f.submit "ログイン", class: "submit__btn"

          .notation
            = link_to "プライバシーポリシー", "#"
            = link_to "メルカリ利用規約", "#"
            = link_to "特定商取引に関する表記", "#"
               
  .footer__user