.user__new
  .header
    = render 'devise/header'

  .account
    .account__number
      %h3 購入内容の確認
    .account__input
      .account__input__form
        .confirm
          .confirm__image
            = image_tag @item.images.first.src.model.src.url, height: "60px", width: "80px"
          .confirm__text
            .confirm__text__name
              = @item.name
            .confirm__text__price
              = number_to_currency(@item.price)
              (税込み)
              = @item.delivery_fee.text
        
        .money
          .money__text
            支払い金額
          .money__sum
            = number_to_currency(@item.price)
        
        .method
          .method__text
            支払方法
          -if @user.card.present?
            %table
              %tbody
                %tr.method__register
                  %th カード番号
                  %td
                    = "**** **** **** " + @default_card_information.last4
                %tr.method__register
                  %th 有効期限
                  %td
                    - exp_month = @default_card_information.exp_month.to_s
                    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                    = exp_month + " / " + exp_year
          -else
            .method__register
              = link_to "登録してください", new_user_card_path(current_user)

        .delivery
          .delivery__text
            配送先
          %table
            %tbody
              %tr.delivery__address
                %th お名前
                %td
                  = @user.address.family_name
                  = @user.address.first_name
              %tr.delivery__address
                %th お名前(かな)
                %td
                  = @user.address.family_kana
                  = @user.address.first_kana
              %tr.delivery__address
                %th 郵便番号
                %td
                  = @user.address.zipcode
              %tr.delivery__address 
                %th 都道府県
                %td
                  = @user.address.prefecture.name
              %tr.delivery__address
                %th 市区町村
                %td
                  = @user.address.city
              %tr.delivery__address
                %th 番地
                %td
                  = @user.address.street
              -if @user.address.apartment.present?
                %tr.delivery__address
                  %th 建物名
                  %td
                    = @user.address.apartment
              -if @user.address.tell.present?
                %tr.delivery__address
                  %th 電話
                  %td
                    = @user.address.tell
      
        .submit
          -if @item.buyer_id.present?
            .submit__btn 
              %P 売り切れです
          -else 
            = button_to "購入する", buy_user_card_path(current_user, @item.id), method: :post, class: "submit__btn"

        .input__privasy
          = link_to "プライバシーポリシー", "#"
          = link_to "メルカリ利用規約", "#"
          = link_to "商品取引に関する表記", "#"  

  .footer__user