= render 'layouts/notifications'
.header
  = render "header"
.main
  .showmain
    .showmain__item
      %h2.item__name
        = @item.name
      .item__image
        %ul.photo__innner
          %li
            = image_tag @item.images.first.src.url, class: "main__image"
            %ul
              - @item.images.each do |image|
                %li
                  = image_tag image.src.url, class: "image__list"
      .item__price
        %span 
          ¥
          = @item.price
        %p (税込)送料込み
      - if user_signed_in? && current_user.id == @item.seller_id
        .link__btn
          .link__btn__sell
            = link_to "この商品情報を編集する", edit_item_path(@item), class: "link__btn__sell__edit"
            = link_to item_path(@item.id), method: :delete, class: "link__btn__sell__destory" do
              この商品を削除する
      - elsif user_signed_in? && current_user.id != @item.seller_id && @item.buyer_id == nil
        .link__btn
          = link_to "購入画面に進む", sell_item_path(@item.id), class: "link__btn__buy"
      - elsif user_signed_in? && @item.buyer_id != nil
        .link__btn
          .link__btn__sold
            SOLD OUT
      -else 
        .link__btn
          = link_to "ログインして下さい", "#", class: "link__btn__login"
      .item__explanation
        = @item.explanation
      .table
        %table
          %tbody
            %tr.item__username
              %th 出品者
              %td 
                = link_to "#" do
                  = @item.seller.nickname
            %tr.item__categories
              %th カテゴリー
              %td
                //親要素
                - @parents.each do |parent|
                  -if @item.category_id == parent.id
                    = link_to '#' do
                      = parent.name
                      %br
                  //子要素
                  - parent.children.each do |child|
                    -if @item.category_id == child.id
                      = link_to '#' do
                        = parent.name
                        %br
                      = link_to '#' do
                        >
                        = child.name
                        %br
                    //孫要素
                    - child.children.each do |grandchild|
                      -if @item.category_id == grandchild.id
                        = link_to '#' do
                          = parent.name
                        %br
                        = link_to '#' do
                          >
                          = child.name
                        %br
                        = link_to '#' do
                          >>
                          = grandchild.name
                        %br
            %tr.item__brand
              %th ブランド
              %td
                = link_to "#" do
                  - unless @item.brand == nil
                    = @item.brand.name
            %tr.item__condition
              %th 商品の状態
              %td 
                = @item.condition.text
            %tr.item__deliveryfee
              %th 配送料の負担
              %td 
                = @item.delivery_fee.text
            %tr.item__prefecture
              %th 発送元の地域
              %td 
                = @item.prefecture.name
            %tr.item__date
              %th 発送日の目安
              %td 
                = @item.duration.text
      .optionalarea
        %ul
          %li#likebtn
            お気に入り 0
        %ul.optional
          %li.optionalbtn
            = link_to "#" do
              不適切な商品の通報
    .showmain__commentbox
      = form_with model:@comment ,class:"new_comment", local: true do |f|
        = f.text_area :comment,id: "comment_body",wrap: "soft"
        = f.hidden_field :item_id, value: @item.id
      %p.noticeMsg
        相手のことを考えて丁寧なコメントをこころがけましょう。
        %br/
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %br/
      %button.commentBtn{name: "button", type: "submit"}
        %i.fa.fa-comment
        コメントする
      
    %ul.showmain__link
      %li
        - if @item.previous.present?
          = link_to item_path(@item.previous) do
            <
            = @item.previous.name
      %li
        - if @item.next.present?
          = link_to item_path(@item.next) do
            = @item.next.name
            >

.applink
  = render "applink"
 
.top__footer
  = render "footer"

